<hr>
<hr>
<div class="jumbotron">
  <h1>Hair Cuttery Management System</h1>
</div>
<hr>
<hr>

  <div class="row">
    <div class="col-md-6">
      <h1>Stylists</h1>
      <div class="col-md-3">
        <h3><p> I want to: </p></h3>
        <p><a href="/">View Stylist</a></p>
        <br>
        <p><a href="/stylist/new">Add Stylists</a></p>
        <br>
      </div>

      <div class="col-md-3" id="righto">
        <% if @all_stylists.any?() %>
        <p>The Current List:</p>
        <ul>
          <% @all_stylists.each() do |stylist| %>
          <li><a href="/stylist/<%=stylist.id()%>"> <%= stylist.name() %></a></li>
          <% end %>
        </ul>

        <% else %>
        <p> List is Empty.</p>
        <br>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <h1>Clients</h1>
      <div class="col-md-3">
        <h3><p> I want to: </p></h3>
        <br>
        <br>
        <p><a href="/">View Clients</a></p>
        <br>
        <br>
      </div>
      <div class="col-md-3" id="righto">
        <% if @all_clients.any?() %>
        <h5>The Current List:</h5>
        <ul>
          <% @all_clients.each() do |client| %>
          <li><a href="/client/<%= client.id()%>"> <%= client.name() %></a></li>
          <% end %>
        </ul>
        <% else %>
        <h5>List is Empty.</h5>
        <br>
        <% end %>
      </div>
    </div>
  </div>


  <hr>
  <br>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid" id="right">
        <h3>Assign a Client to a Stylist</h3>

        <form action="/clients" method="post">
        <label for="stylist_id">Select a Stylist</label>
        <select id="stylist_id" name="stylist_id" type="text">
          <% @all_stylists.each() do |stylist| %>
            <option value="<%= stylist.id()%>"> <%= stylist.name()%></option>
          <% end %>
        </select>

        <label for="client">Name of Client:</label>
        <input id="client_input" type="text" name="client_input">
        <button type="submit" name="btn btn-primary">Add Client</button>
        </form>
      </div>

    </div>
  </div>
  <br>
  <br>
  <hr>
